

*{
    margin:0;
}
ul{
    color: white;
}
h1{
    color: white;
    font-family: monospace;
    font-size: 2vw;
}
h2{
    color: white;
    font-size: 1.5vw;
    font-family: monospace;
}
h3{
    color: white;
}
.kontaktlayout{
    display: grid;
    min-height: 100vh;
    grid-template-columns: auto;
    grid-template-rows:auto auto 3fr 1fr;
    background-color: black;
    grid-template-areas:
    "head"
    "bar1"
    "content"
    "footer"
}
.layout{
    display: grid;
    min-height: 100vh;
    grid-template-columns: 2fr 2fr auto;
    grid-template-rows:auto auto 3fr auto auto auto auto 1fr;
    background-color: black;
    grid-template-areas:
    "head head head"
    "bar1 bar1 bar1"
    "parallax parallax parallax"
    "bar bar bar"
    "map map sidebar"
    "bar0 bar0 bar0"
    "kinfo kpic kpic"
    "footer footer footer"
}

.small_layout{
    display: grid;
    min-height: 100vh;
    grid-template-columns: 2fr 2fr auto;
    grid-template-rows:auto auto 2.5fr auto auto auto 3fr 1fr;
    background-color: black;
    grid-template-areas:
    "head head head"
    "bar1 bar1 bar1"
    "parallax parallax parallax"
    "bar bar bar"
    "map map sidebar"
    "bar0 bar0 bar0"
    "celinfo celinfo celinfo"
    "footer footer footer"
}


.ksp_pic{
    height:9vw;
    width: auto;
}

#head{
    grid-area: head;
    background-color: black;
    z-index: 2;
    display: flex;
    align-items: center;
    height: 10vw;
    
}

#bar{
    grid-area: bar;
    background-color: #3e3d44;
    z-index: 2;
    height: 3vw;
    border-bottom: 10px ridge rgba(62, 61, 68, 0.3);
    
}

#bar0{
    grid-area: bar0;
    background-color: #3e3d44;
    z-index: 2;
    height: 3vw;
    border-bottom: 10px ridge rgba(62, 61, 68, 0.3);
    
}

#bar1{
    grid-area: bar1;
    background-color: #3e3d44;
    z-index: 2;
    height: 3vw;
    border-bottom: 10px ridge rgba(62, 61, 68, 0.3);

}

.red_button{
    padding-left:92vw;
}

#parallax{
    grid-area: parallax;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    width: 100vw;
    opacity: 0.8;
}

.map{
    grid-area: map;
    background: #0c1120;
    background-image: linear-gradient(
            35deg,
            hsla(225, 45.5%, 8.6%, 0.1),
            80%,
            hsla(225, 45.5%, 8.6%, 0.1)
        ),
        linear-gradient(#141723 1px, transparent 0),
        linear-gradient(90deg, #141723 1px, transparent 0);
        background-size: 100% 100%, 2vw 2vw, 2vw 2vw;
    z-index: 2;
    position: relative;
    max-height: 1000px;
    height: 80vw;
    max-width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;

}


.Jool{
    position: absolute;
    top: 26%;
    left: 72%;
    transform: translate();
    width: 8%;
    height: auto;
    transition: 0.2s;

}
.Jool:hover{
    scale: 1.2;
    transition: 0.2s;
}
#joolpic{
    grid-area: jpic;
    background-image: url(Kerbal\ Space\ Program\ 2024-11-20\ 19_21_16.png);
    background-size: cover;
    background-position: center;
    height: 60vw;
    z-index: 2;
}
#joolinfo{
    grid-area: jinfo;
    height: 60vw;
    min-width: 35vw;
    z-index: 2;
    background-color: #312f36;
    border-right: 10px ridge rgba(32, 31, 38, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.Jool_layout{
    display: grid;
    min-height: 100vh;
    grid-template-columns: 2fr 2fr auto;
    grid-template-rows:auto auto 3fr auto auto auto auto 1fr;
    background-color: black;
    grid-template-areas:
    "head head head"
    "bar1 bar1 bar1"
    "parallax parallax parallax"
    "bar bar bar"
    "map map sidebar"
    "bar0 bar0 bar0"
    "jinfo jpic jpic"
    "footer footer footer"

}
.laythe{
    position: absolute;
    top: 50%;
    left: 54.7%;
    transform: translate();
    width:8%;
    height: auto;
    transition: 0.2s;
}
.laythe:hover{
    scale: 1.2;
    transition: 0.2s;
}
.Laythe{
    position: absolute;
    width: 150%;
    height:auto;
    
}

.vall{
    position: absolute;
    top: 58%;
    left: 36.2%;
    transform: translate();
    width: 8%;
    height: auto;
    transition: 0.2s;
}
.vall:hover{
    scale: 1.2;
    transition: 0.2s;
}
.Vall{
    position: absolute;
    width: 150%;
    height:auto;
}
.tylo{
    position: absolute;
    top: 72.7%;
    left: 52%;
    transform: translate();
    width:8%;
    height: auto;
    transition: 0.2s;
}
.tylo:hover{
    scale: 1.2;
    transition: 0.2s;
}
.Tylo{
    position: absolute;
    width: 150%;
    height:auto;
}
.bop{
    position: absolute;
    top: 26%;
    left: 72%;
    transform: translate();
    width: 8%;
    height: auto;
    transition: 0.2s;
}
.bop:hover{
    scale: 1.2;
    transition: 0.2s;
}
.Bop{
    position: absolute;
    width: 150%;
    height:auto;
}
.pol{
    position: absolute;
    top: 14%;
    left: 20.6%;
    transform: translate();
    width: 8%;
    height: auto;
    transition: 0.2s;
}
.pol:hover{
    scale: 1.2;
    transition: 0.2s;
}
.Pol{
    position: absolute;
    width: 150%;
    height:auto;
}
.eeloo{
    position: absolute;
    top: 20%;
    left: 9.5%;
    transform: translate();
    width: 7%;
    height: auto;
    transition: 0.2s;

}
.eeloo:hover{
    scale: 1.2;
    transition: 0.2s;
}
.Eeloo{
    position: absolute;
    width: 150%;
    height:auto;
}

.dres{
    position: absolute;
    top: 25.6%;
    left: 42%;
    transform: translate();
    width: 7%;
    height: auto;
    transition: 0.2s;
}
.dres:hover{
    scale: 1.2;
    transition: 0.2s;
}
.Dres{
    position: absolute;
    width: 150%;
    height:auto;
}


.duna{
    position: absolute;
    top: 54%;
    left: 70%;
    transform: translate();
    width: 8%;
    height: auto;
    transition: 0.2s;

}
.duna:hover{
    scale: 1.2;
    transition: 0.2s;
}
.duna_layout{
    display: grid;
    min-height: 100vh;
    grid-template-columns: 2fr 2fr auto;
    grid-template-rows:auto auto 3fr auto auto auto auto 1fr;
    background-color: black;
    grid-template-areas:
    "head head head"
    "bar1 bar1 bar1"
    "parallax parallax parallax"
    "bar bar bar"
    "map map sidebar"
    "bar0 bar0 bar0"
    "dunainfo dunapic dunapic"
    "footer footer footer"

}
#dunapic{
    grid-area: dunapic;
    background-image: url(Kerbal\ Space\ Program\ 2024-11-20\ 19_06_33.png);
    background-size: cover;
    background-position: center;
    height: 60vw;
    z-index: 2;
}

#dunainfo{
    grid-area: dunainfo;
    min-width: 35vw;
    height: 60vw;
    z-index: 2;
    background-color: #312f36;
    border-right: 10px ridge rgba(32, 31, 38, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.ike{
    position: absolute;
    top: 40.4%;
    left: 85.4%;
    transform: translate();
    width: 17%;
    height: auto;
    transition: 0.2s;
}
.ike:hover{
    scale: 1.2;
    transition: 0.2s;
}
.Ike{
    position: absolute;
    width: 250%;
    height:auto;
}
.kerbin{
    position: absolute;
    top: 55.5%;
    left: 29.6%;
    transform: translate();
    width: 16%;
    height: auto;
    transition: 0.2s;

}
.kerbin:hover{
    scale: 1.2;
    transition: 0.2s;
}

.kerbin_layout{
    display: grid;
    background-size: 100% 100%, 2vw 2vw, 2vw 2vw;
    min-height: 100vh;
    grid-template-columns: 2fr 2fr auto;
    grid-template-rows:auto auto 3fr auto auto auto auto 1fr;
    background-color: black;
    grid-template-areas:
    "head head head"
    "bar1 bar1 bar1"
    "parallax parallax parallax"
    "bar bar bar"
    "map map sidebar"
    "bar0 bar0 bar0"
    "kerinfo kerpic kerpic"
    "footer footer footer"

}
#kerbinpic{
    grid-area: kerpic;
    background-image: url(Kerbal\ Space\ Program\ 2024-11-20\ 17_08_12.png);
    background-size: cover;
    background-position: center;
    height: 60vw;
    z-index: 2;
}

#kerbininfo{
    grid-area: kerinfo;
    height: 60vw;
    min-width: 35vw;
    z-index: 2;
    background-color: #312f36;
    border-right: 10px ridge rgba(32, 31, 38, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.mun{
    position: absolute;
    top: 44.4%;
    left: 59.6%;
    transform: translate();
    width: 17%;
    height: auto;
    transition: 0.2s;
}
.mun:hover{
    scale: 1.2;
    transition: 0.2s;
}
.Mun{
    position: absolute;
    width: 200%;
    height:auto;
}


.minmus{
    position: absolute;
    top: 10%;
    left: 12.7%;
    transform: translate();
    width: 17%;
    height: auto;
    transition: 0.2s;
}
.minmus:hover{
    scale: 1.2;
    transition: 0.2s;}
.Minmus{
    position: absolute;
    width: 200%;
    height:auto;
}

.eve{
    position: absolute;
    top: 44.4%;
    left: 45%;
    transform: translate();
    width: 8%;
    height: auto;
    transition: 0.2s;

}
.eve:hover{
    scale: 1.2;
    transition: 0.2s;
}

.eve_layout{
    display: grid;
    min-height: 100vh;
    grid-template-columns: 2fr 2fr auto;
    grid-template-rows:auto auto 3fr auto auto auto auto 1fr;
    background-color: black;
    grid-template-areas:
    "head head head"
    "bar1 bar1 bar1"
    "parallax parallax parallax"
    "bar bar bar"
    "map map sidebar"
    "bar0 bar0 bar0"
    "eveinfo evepic evepic"
    "footer footer footer"

}

.gilly{
    position: absolute;
    top: 15%;
    left: 72%;
    transform: translate();
    width: 12%;
    height: auto;
    transition: 0.2s;
}
.gilly:hover{
    scale: 1.2;
    transition: 0.2s;
}
.Gilly{
    position: absolute;
    width: 150%;
    height:auto;
}

#evepic{
    grid-area: evepic;
    background-image: url(Kerbal\ Space\ Program\ 2024-11-20\ 18_18_13.png);
    background-size: cover;
    background-position: center;
    height: 60vw;
    z-index: 2;
}

#eveinfo{
    grid-area: eveinfo;
    min-width: 35vw;
    height: 60vw;
    z-index: 2;
    background-color: #312f36;
    border-right: 10px ridge rgba(32, 31, 38, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}


.moho{
    position: absolute;
    top: 58.3%;
    left: 48%;
    transform: translate();
    width: 12%;
    height: auto;

}
.moho:hover{
    scale: 1.2;
    transition: 0.2s;
}

.Moho{
    position: absolute;
    width: 200%;
    height:auto;
    transition: 0.2s;

}

#kerbolinfo{
    grid-area: kinfo;
    height: 60vw;
    min-width: 35vw;
    background-color: #312f36;
    z-index: 2;
    color: white;
    border-right: 10px ridge rgba(32, 31, 38, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}
#kerbolpic{
    grid-area: kpic;
    background-image: url(https://cdn.wikiwiki.jp/to/w/ksp/MOD%E3%83%BB%E3%83%84%E3%83%BC%E3%83%AB/Real%20Solar%20System/::attach/Sun.jpg?rev=e3ccf035d2f0637db076160a40ba554c&t=20160511192121);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vw;
    background-size: cover;
}

#sidebar{
    grid-area: sidebar;
    background-color: #312f36;
    z-index: 2;
    max-height: 1000px;
    height: 80vw;
    min-width: 20vw;
    width: calc(100vw - 1000px);
    border-left: 10px ridge rgba(32, 31, 38, 0.1);


}

#planetbox{
    background-color: #201f26;
    height: 52vw;
    width: 30vw;
    border-radius: 7px;
}

#Celestialinfo{
    grid-area: celinfo;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #312f36;
    z-index: 2;
}
#boxinfo{
    background-color: #201f26;
    height: 40vw;
    width: 90vw;
    border-radius: 7px;
}

#footer{
    grid-area: footer;
    background-color: #3e3d44;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vw;
    border-top: 10px ridge rgba(32, 31, 38, 0.1);
}

body {
    overflow-x: hidden;
}

#content{
    grid-area: content;
    background: #0c1120;
    background-image: linear-gradient(
            35deg,
            hsla(225, 45.5%, 8.6%, 0.1),
            80%,
            hsla(225, 45.5%, 8.6%, 0.1)
        ),
        linear-gradient(#141723 1px, transparent 0),
        linear-gradient(90deg, #141723 1px, transparent 0);
        background-size: 100% 100%, 2vw 2vw, 2vw 2vw;

    
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10vw;
}

#enter{
    color: #000;
    border-radius: 7px;
    
}
#submitpos{
    display: flex;
    justify-content: center;
}

#sub_button{
    color: black;
    border-radius: 7px;
    padding:5px 150px;
}

#write{
    position: absolute;
}

@media(max-width: 800px){
    .layout{
        display: grid;
        min-height: 100vh;
        grid-template-columns: auto;
        grid-template-rows:auto auto 4fr auto auto auto auto auto auto 1fr;
        background-color: black;
        grid-template-areas:
        "head"
        "bar1"
        "parallax"
        "bar"
        "map"
        "sidebar"
        "bar0"
        "kinfo"
        "kpic"
        "footer"
    }
    .Jool_layout{
        display: grid;
        min-height: 100vh;
        grid-template-columns: auto;
        grid-template-rows:auto auto 4fr auto auto auto auto auto auto 1fr;
        background-color: black;
        grid-template-areas:
        "head"
        "bar1"
        "parallax"
        "bar"
        "map"
        "sidebar"
        "bar0"
        "jinfo"
        "jpic"
        "footer"
    }
    .duna_layout{
        display: grid;
        min-height: 100vh;
        grid-template-columns: auto;
        grid-template-rows:auto auto 4fr auto auto auto auto auto auto 1fr;
        background-color: black;
        grid-template-areas:
        "head"
        "bar1"
        "parallax"
        "bar"
        "map"
        "sidebar"
        "bar0"
        "dunainfo"
        "dunapic"
        "footer"
    }
    .eve_layout{
        display: grid;
        min-height: 100vh;
        grid-template-columns: auto;
        grid-template-rows:auto auto 4fr auto auto auto auto auto auto 1fr;
        background-color: black;
        grid-template-areas:
        "head"
        "bar1"
        "parallax"
        "bar"
        "map"
        "sidebar"
        "bar0"
        "eveinfo"
        "evepic"
        "footer"
    }
    .kerbin_layout{
        display: grid;
        min-height: 100vh;
        grid-template-columns: auto;
        grid-template-rows:auto auto 4fr auto auto auto auto auto auto 1fr;
        background-color: black;
        grid-template-areas:
        "head"
        "bar1"
        "parallax"
        "bar"
        "map"
        "sidebar"
        "bar0"
        "kerinfo"
        "kerpic"
        "footer"
    }
    .small_layout{
        display: grid;
        min-height: 100vh;
        grid-template-columns: auto;
        grid-template-rows:auto auto 4fr auto auto auto auto 3fr 1fr;
        background-color: black;
        grid-template-areas:
        "head"
        "bar1"
        "parallax"
        "bar"
        "map"
        "sidebar"
        "bar0"
        "celinfo"
        "footer"
    }
    .kontaktlayout{
        display: grid;
        min-height: 100vh;
        grid-template-columns: auto;
        grid-template-rows:auto auto 1fr auto;
        background-color: black;
        grid-template-areas:
        "head"
        "bar1"
        "content"
        "footer"
    }
    #write{
        scale: 0.6;
    }

    #sidebar{
        width: 100vw;
        border-top: 10px ridge rgba(32, 31, 38, 0.1);
        
    }
    .map{
        width:100vw;
        height: 100vw;
        max-width: 100vw;
        max-height: auto;
    }
    #planetbox{
        height: 50vw;
        width: 90vw;
    }
    #kerbininfo{
        border-bottom: 10px ridge rgba(32, 31, 38, 0.1);
    }
    #eveinfo{
        border-bottom: 10px ridge rgba(32, 31, 38, 0.1);
    }
    #joolinfo{
        border-bottom: 10px ridge rgba(32, 31, 38, 0.1);
    }
    #dunainfo{
        border-bottom: 10px ridge rgba(32, 31, 38, 0.1);
    }
    #kerbolinfo{
        border-bottom: 10px ridge rgba(32, 31, 38, 0.1);
    }
    h1{
        color: white;
        font-family: monospace;
        font-size: 4vw;
    }
    h2{
        color: white;
        font-size: 3vw;
        font-family: monospace;
    }


}
